@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
    .text-primary {
        color: var(--color-primary);
    }

    .hover\:text-primary:hover {
        color: var(--color-primary);
    }

    .bg-primary {
        background-color: var(--color-bg);
    }

    .w-primary {
        width: var(--width-primary);
        margin-inline: auto;
    }

    .border-primary {
        border-color: var(--color-border);
    }
}

:root {
    --color-primary: #ff6700;
    --color-error: #f04645;
    --color-success: #83c44e;
    --color-border: #e0e0e0;
    --color-bg: #f5f5f5;
    --width-primary: 1226px;
}

body {
    color: #333;
    font-size: 14px;
}

.text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
