.container {
    width: var(--width-primary);
    margin: auto;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
}

.sep {
    color: #b0b0b0;
}

.item {
    color: #616161;

    &.active {
        color: #757575;

        &:hover {
            color: var(--color-primary);
        }
    }
}
